@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
